html {
  scroll-behavior: smooth; /* I thought the TT site was doing some funky JS stuff or something, didn't know this feature existed at all, cool! */
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box; /* I feel like this line and the one above are a bit of a cheeky workaround, rather than having just planned it better from the beginning? */
  background-color: rgba(102, 51, 153, 0.8);
  background-image: linear-gradient(
    to right,
    rgba(102, 51, 153, 0.8),
    rgba(102, 51, 153, 0)
  );
  z-index: 999; /* I'm not sure why I have to do this??? otherwise it's behind the section elements. i think it's the transparency and something about 't h e   s t a c k~~'? i remember reading about this but can't find it */ /* DOUBLE COMMENT: I just checked the TomatoTime source and it uses z-index:1;, so I'm hoping this is intended and fine behaviour */
  color: white;
  display: flex;
  flex-flow: row wrap; /* I don't like how, on very narrow viewports, the nav and h1 don't rejustify themselves correctly horizontally when overflowing, but I'm not sure how to achieve that */
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
  font-weight: bold;
  align-items: center;
}

audio {
  height: 2em;
}

h1 {
  background-image: linear-gradient(
    to right,
    palevioletred,
    orange,
    palegoldenrod,
    lightgreen,
    cyan,
    cornflowerblue,
    mediumpurple
  );
  background-clip: text;
  color: transparent; /* gonna admit it, i brought this bit with me, i love rainbow text (works on strongly-silhoutted emojis!) */
  margin: 0;
}
nav {
  text-transform: uppercase;
}
nav ul {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  padding: 0;
  margin: 15px 0 15px 0;
  gap: 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  position: relative;
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid white;
}
section:nth-of-type(1) {
  background-image: url("./img/bg1.webp");
}
section:nth-of-type(2) {
  background-image: url("./img/bg2.webp");
}
section:nth-of-type(3) {
  background-image: url("./img/bg3.webp");
}
section:nth-of-type(4) {
  background-image: url("./img/bg4.webp");
}
section:nth-of-type(5) {
  background-image: url("./img/bg5.webp");
}
section:nth-of-type(6) {
  background-image: url("./img/bg6.webp");
}
section:nth-of-type(7) {
  background-image: url("./img/bg7.webp");
}
section:nth-of-type(8) {
  background-image: url("./img/bgsecret1.webp");
  border: 1px solid black;
}
section:nth-of-type(9) {
  background-image: url("./img/bgsecret2.webp");
  border: 1px solid black;
}
section:nth-of-type(10) {
  background-image: url("./img/bgsecret3.webp");
  border: 1px solid black;
}
section:nth-of-type(11) {
  background-image: url("./img/bgsecret4.webp");
  border: 1px solid black;
}

.cta-box {
  background: white;
  width: fit-content;
  padding: 20px;
  position: absolute;
  bottom: 100px;
  left: 50px;
}
.cta-box p {
  margin: 0;
  font-size: 1.4em;
  color: rebeccapurple;
}
.cta-box h2 {
  font-size: 2.5em;
  color: rebeccapurple;
  margin-top: 10px;
}
.cta-box a {
  color: white;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  display: block;
  width: fit-content;
  background: mediumpurple;
  border: 3px outset mediumpurple;
}
.cta-box a:hover {
  color: black;
  background: lavender;
  border: 3px outset lavender;
}
.cta-box a:active {
  color: white;
  background: rebeccapurple;
  border: 3px inset rebeccapurple;
}

.rtt {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}
.rtt a {
  padding: 5px 10px 5px 10px;
  background: rebeccapurple;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  display: flex;
  gap: 15px;
}
.rtt a:hover {
  background-color: mediumpurple;
}
.rtt a:active {
  color: rebeccapurple;
  background: white;
  border-color: rebeccapurple;
}
.rtt img {
  align-self: center; /* had to do this to prevent the image stretching vertically, but i'm not sure why??? */
}

footer {
  color: white;
  background-color: rebeccapurple;
  padding: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative; /* see below */
}
footer p {
  margin: 0;
}
footer p:nth-child(2) {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  /* i know what i just did was kinda dodgy but i thought it was funny, it broke the Return to Top button and I had to fiddle with z-index again (see above) */
}
.social {
  padding: 0;
  align-self: flex-start;
}

#secretmessage {
  display: none;
  /* display: block; */
  position: fixed;
  top: 50%;
  z-index: 1;
  color: white;
  font-size: 8em;
  background-color: rgba(255, 0, 0, 0.3);
  text-align: center;
  width: 100vw;
}
